---
layout: default
---

{% include navbar.html %}
{% include slider.html %}


<div class="container" id="main-container">
	<div class="row">
		<div class="col-sm-9">
			<div class="row">
				<h3>Our Sponsors</h3>
				<div class="col-sm-4">
					<a href="http://mihrealty.com" alt="MIH Reality" title="MIH Reality"><img src="assets/img/sponsors/mih-reality-logo.png" alt="" class="img img-responsive"></a>
				</div>
				<div class="col-sm-4"></div>
				<div class="col-sm-4"></div>
			</div>
		</div>
		<div class="col-sm-3">
			{% include sidebar.html %}
		</div>
	</div>
</div>