---
layout: default
---

{% include navbar.html %}
{% include slider.html %}


<div class="container" id="main-container">
	<div class="row">
		<div class="col-sm-9">
			<div class="row">
				<img class="img-fluid" src="/uploads/ads/kids-camp-2019.jpg" alt="Kids Camp">
				<a href="https://docs.google.com/forms/d/e/1FAIpQLSdO7cAWGF72MbB6Oo-zMDKGaEKVA_cm-QECTYoqkd5TP3IKFw/viewform?usp=sf_link" class="btn btn-primary">Register Now</a>
			</div>
			<div class="row">
				<h3>Our Sponsors</h3>
				<div class="col-sm-4">
					<a href="http://mihrealty.com" alt="MIH Reality" title="MIH Reality"><img src="assets/img/sponsors/mih-reality-logo.png" alt="" class="img img-responsive"></a>
				</div>
				<div class="col-sm-4"></div>
				<div class="col-sm-4"></div>
			</div>
		</div>
		<div class="col-sm-3">
			{% include sidebar.html %}
		</div>
	</div>
</div>
