<script src="{{ "/assets/js/jquery.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<p class="head">About Us</p>
				<p>Houston United was founded in 2012 by a group of soccer loving Malayalees in Houston, TX. </p>
			</div>
			<div class="col-sm-3">
				<p class="head">Mission</p>
				<p>Our goals as a team has been to be strong community organization that fosters friendship, a healthy living, engages in fund raising activities and social events.</p>
			</div>
			<div class="col-sm-3">
				<p class="head">Social Links</p>
				<ul>
					<li><a href="">Facebook</a></li>
					<li><a href="">Twitter</a></li>
					<li><a href="">Instagram</a></li>
					<li><a href="">Google Plus</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<p class="head">Contact Us</p>
				<p>Email : <a href="">houstonunitedmsc@gmail.com</a></p>
				<p>Phone : <a href="">+1 xxx xxx xxx</a></p>
			</div>
		</div>
	</div>
	<p class="copyright">Copyright 2017. Designed by <a href="http://guyswhocode.com" title="Guys Who Code">Guys Who Code</a></p>
</footer>